@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  color: rgba(16, 24, 40, 1);
  font-family: 'Inter', sans-serif;
}

.mainsection {
  padding: 0 5em;
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 24px;
}

.content {
  margin: 0 auto;
}


.profile {
  display: flex;
  justify-content: center;
}

.profile-con {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  padding: 2.5em;
}

.share {
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 100px;
}

.mobile-share {
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 10px;
  display: none;
}


.pro-img {
  background: url(./assets/user.JPG) rgba(0, 0, 0, 0.5);
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  cursor: pointer;
}

.pro-img:hover {
  background-blend-mode: darken;
}

.cam {
  opacity: 0;
  margin-top: 55px;
}

.pro-img:hover .cam {
  opacity: 1;
}

.link-section {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.link-style {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  padding: 1.5em 0em;
  background-color: rgba(234, 236, 240, 1);
  text-decoration: none;
  word-wrap: none;
}

.link-style:hover {
  background: rgba(208, 213, 221, 1);
}

.social-section {
  margin-top: 24px;
}

.socials {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-content: center;
}

.footer {
  max-width: 1116px;
  margin: 0 auto;
  margin-top: 160px;
}

.foot-socials {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-top: 1px solid rgba(234, 236, 240, 1);
  padding: 32px;
}

.contact-page {
  padding: 0 15em;
  margin: 0 auto; 
  text-align: left;
}

.contact-page p {
  color: #475467;
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.form {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
}

.form::placeholder {
  color: #475467;
}


.nameInp {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.nameInp input {
  width: 270px;
}

.form label {
  text-align: left;
  display: block;
  margin-bottom: 6px;
  color: #344054;;
}

.form input, .form textarea {
  padding: 10px 14px;
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  margin-bottom: 24px;
  outline: none;
}
.form input:focus, .form textarea:focus {
  border: 1px solid #84CAFF;
}

.form textarea:active {
  border: 1px solid #84CAFF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
}

.form textarea {
  height: 100px;
  width: 96%;
  margin-bottom: 0;
}

.textarea {
  margin-bottom: 24px;
}

.textarea span {
  color:  #F83F23;
  font-size: 13px;
}

.check {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
}

.form button {
  cursor: pointer;
  background: #1570EF;
  color: #fff;
  padding: .8em 0;
  border-radius: 8px;
  border: none;
  margin-top: 24px;
}

.form button:hover {
  background: #175CD3;
}

.form button:focus {
  background: #1570EF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
}

.invalid {
  border: 1px solid #F89687 !important; 
}

@media (max-width: 768px) {
  .mainsection {
    padding: 0 2em;
  }

  .share {
    display: none;
  }

  .mobile-share {
    display: block;
  }

  .foot-socials {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .contact-page {
    padding: 0;
  }

  .nameInp {
    flex-direction: column;
  }

  .check {
    line-height: 0;
    text-align: start;
  }
}